.Shadows {
  width: 68px;
  height: 68px;
  background-color: #fff;
  &--1 {
    box-shadow: inset 0px -1px 0px #eaeaea;
  }
  &--2 {
    box-shadow: 0px 2px 10px rgba(25, 1, 52, 0.12);
  }
  &--3 {
    box-shadow: 0px 4px 10px rgba(25, 1, 52, 0.16);
  }
  &--4 {
    box-shadow: inset 0px 1px 0px #eaeaea;
  }
  &--5 {
    box-shadow: 0px -2px 10px rgba(25, 1, 52, 0.12);
  }
  &--6 {
    box-shadow: 0px -4px 10px rgba(25, 1, 52, 0.16);
  }
}
