// *******************************
// COLORS
// *******************************
// Brand
$brand-primary: #ff2773;
$brand-primary-light: #ff4d95;
$brand-secondary: #2b1e70;
$brand-secondary-light: #252d9b;

// UI Text
$ui-text-primary: #190134;
$ui-text-secondary: #685879;
$ui-text-tertiary: #b3abbc;
$ui-text-success: #5cc689;
$ui-text-error: #ee7d52;
$ui-text-white: #ffffff;
$ui-text-link: #252d9b;

// UI Element
$ui-element-primary: #ffffff;
$ui-element-secondary: #685879;
$ui-element-tertiary: #b3abbc;
$ui-element-success: #5cc689;
$ui-element-error: #ee7d52;
$ui-element-neutral: #eaeaea;
$ui-element-overlay: #2b1e70;
$ui-element-inactive: #eaeaea;

// *******************************

// *******************************
// FONT
// *******************************
$open-sans: 'Open Sans', sans-serif;
